

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(/css/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
  }
  .skills-img{
      
      padding: 30px;
  }
  .skills {

      margin-top: 50px;
      display: inline-flex;
  }

  .img-fluid{
    max-height: 200px;
    padding: 20px;
  }

